<app-navbar></app-navbar>
<div class="container">
    <h2>Book a Vehicle Service</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Service ID</th>
          <th>Service Name</th>
          <th>Service Price</th>
          <th>Vehicle Type</th>
          <th>Appointment Date</th>
          <th>Location</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of vehicles">
          <td>{{ service.id}}</td>
          <td>{{ service.serviceName }}</td>
          <td>{{ service.servicePrice }}</td>
          <td>{{ service.typeOfVehicle }}</td>
          <td>{{service.appointment.appointmentDate}}</td>
          <td>{{service.appointment.location}}</td>
          <td>{{service.appointment.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>

