<h1>FeedBack of all user</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>SL .No</th>
                <th>Username</th>
                <th>Feedback</th>
                <th>Ratings</th>
                <th>Action</th>
            </tr>
        </thead>
 
        <tbody>
            <tr *ngFor="let feedback of userDetails;let i=index">
                <td>{{i+1}}</td>
                <td>{{feedback.username}}</td>
                <td>{{feedback.message}}</td>
                <td>{{feedback.rating}}</td>
                <td><button (click)="showProfile(feedback.userId)">Show Profile</button></td>
            </tr>
        </tbody>
    </table>
 
    <div *ngIf="userDetail">
        <p>User Details</p>
        <p>email:{{userDetail.email}}</p>
        <p>username: {{userDetail.username}}</p>
        <p>mobile number: {{userDetail.mobileNumber}}</p>
    </div>
</div>