<app-navbar></app-navbar>
<div class="container">
    <div class="background-image"></div>
    <div class="content">
      <h1>Vehicle Service Management</h1>
      <p>
        Regular vehicle servicing is important for road safety, fuel efficiency, and maintaining the car's value. It can help prevent accidents by identifying and addressing potential issues with the brakes, tires, and suspension systems. Regular servicing can also improve fuel efficiency, which can lead to savings on fuel costs over time. Furthermore, it can also help maintain its value for resale. By performing routine checks on critical components such as the engine, transmission, and exhaust system you can avoid major repairs down the road. This proactive approach gives you peace of mind knowing that your vehicle is in good condition to avoid unexpected breakdowns.
      </p>
    </div>
  </div>
  